<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<h1>Greetings! This is Dynamic Master Page</h1>

<p>
    A quick {{ color }} {{ animal_one }} jumps over a lazy {{ animal_two }} <br>
</p>
<p>
    Add strings! for example - My favourite movies are {{ movie_one }}, {{ movie_two }} and {{ movie_three}} <br>
</p>
<p>
    Total fruits are {{ apple_count + orange_count }} <br>
</p>
<p>
    Created By - {{ firstname + ' ' + lastname }}<br>
</p>
</body>
</html>