<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIE PAGE</title>
</head>
<body>
    <h1>
        Hi this is a sample movie list data structure rendering webpage
    </h1>
    <p>
        Your favourite movie ever -> {{ movies[0] }} <br>
    </p>
    <p>
        Your favourite comic book movie -> {{ movies[1] }}<br>
    </p>
    <p>
        A movie that sucks -> {{ movies[2] }}<br>
    </p>
    <h1>
        Hi this section is for Dictionaries
    </h1>
    <p>
        My car name is {{ car["model"] }} and was purchased in {{ car["year"] }}.<br>
        It is manufactured by {{ car["brand"] }}.
    </p>
</body>
</html>